@use '../assets/variables' as *;
@forward '../assets/fonts';
@forward '../assets/sanitize';

// Add scrollbar properties on the root element
html {
  scrollbar-color: $primary $dark;
  scrollbar-width: thin;
}

body {
  // Make it a flex container to ease space-management
  display: flex;
  flex-direction: column;
  // A square looks nice
  width: 400px;
  height: 400px;
  // Solve size issues when the icon is in the overflow menu
  overflow-x: auto;
  // Make it dark so Firefox renders round corners correctly
  color: $background-color;
  background-color: $dark;
  // Revert sanitize.css's cursor: default
  cursor: initial;
}

// Titles
h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

h2 {
  margin: 1rem 0;
  font-size: 1.4rem;
}

h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
}
