.DS_Store

.parcel-cache/
build/
docs/
extension/
cypress/videos/
cypress/screenshots/
node_modules/
storybook-static/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
