---
permalink: blank.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- The next line is mostly decorative: browsers natively block injections in extension pages. -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'none'"/>
    <title>Document</title>
    <style>
      body {
        color: #000;
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <!-- An empty page to solve CSP issues. -->
  </body>
</html>
