---
title: Error
layout: html.njk
permalink: zeroconf-unavailable.html
---
<h1>❌ EviDNS is not properly installed</h1>
<ol>
  <li>
    <a href="https://github.com/Freemindtronic/eviDNS_zeroconf/releases">
      Download the latest version of <strong>EviDNS</strong>
    </a>
  </li>
  <li>
    Run <code>./evidns -i -m "evicypher-webmail@freemindtronic.com"</code>
  </li>
</ol>
