@font-face {
  font-weight: 400;
  font-family: 'Sen';
  src: url('/assets/sen-regular-webfont.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Sen';
  src: url('/assets/sen-bold-webfont.woff') format('woff');
}

@font-face {
  font-weight: 800;
  font-family: 'Sen';
  src: url('/assets/sen-extrabold-webfont.woff') format('woff');
}
