$white: #fff;
$black: #0c0b0b;
$light-gold: #ffc26e;
$gold: #d9a55d;
$dark-gold: #806137;
$blue: #1a7b9c;
$dark-blue: #092a35;

$text-color: $black;
$background-color: $white;
$primary: $gold;
$dark: $dark-blue;
$input-color: $blue;
$logo-color: $light-gold;

$title-font: Sen, sans-serif;
