$white: #fff;
$black: #0c0b0b;
$light-gold: #ffc26e;
$gold: #d9a55d;
$blue: #1a7b9c;
$dark-blue: #092a35;
$red: #db1000;
$transparentRed: #db10001a;

$text-color: $black;
$background-color: $white;
$primary: $gold;
$dark: $dark-blue;
$input-color: $blue;
$logo-color: $light-gold;
$error: $red;
$error-background: $transparentRed;

$title-font: Sen, sans-serif;

@use "sass:math";
$px: math.div(1em, 16);
